<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.text_field :location_id %>
  </div>  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :sketch %><br />
    <%= f.text_field :sketch %>
  </div>
  <div class="field">
    <%= f.label :artist_id %><br />
    <%= f.text_field :artist_id %>
  </div>
  <div class="field">
    <%= f.label :is_real %><br />
    <%= f.check_box :is_real %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
