<p id="notice"><%= notice %></p>

<h1> <%= @work.title %> </h1>
<p> by <%= @artist.name %> </p>

<p>
  <% if @work.is_real %>
  	This work already exists.
	<% else %>
		This work is a proposal. Feel free to leave comments!
	<% end %>
</p>

<p>
	<h2> Description </h2>
  <%= @work.description %>
</p>

<p>
  <%= image_tag @work.sketch %>
</p>



<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
