<script type="text/javascript"
  src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
function initialize() {
	var latlng = new google.maps.LatLng(42.353787, -71.066437);
	var myOptions = {
		zoom: 14,
		center: latlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	<% i = 0 %>
	<% @locations.each do |location| %>
		var latlng<%= i %> = new google.maps.LatLng(<%= location.x_coord %>, <%= location.y_coord %>);
		var title<%=i%> =  '<%= location.description %>';
		var content<%=i%> = '<h2><%= location.description %></h2>'+
			'<p> proposed by:'+
			'<%=User.find_by_id(location.user_id).username %></p>'+
			'<h3>Current Works:</h3>'+
			<% location.works.each do |work| %>
				'<%= link_to work.title, work %> <br />'
			<% end %>;  
		var info<%=i%> = new google.maps.InfoWindow({
			content: content<%=i%>});
		var marker<%= i %> = new google.maps.Marker({
		  position: latlng<%= i %>,
		  map: map,
		  title: title<%= i %>
		});
		google.maps.event.addListener(marker<%=i%>, 'click', function() {
			info<%=i%>.open(map, marker<%=i%>)});
		<% i = i + 1  %>
	<% end%>
}
</script>
<div id="map_canvas"> </div>

<!-- <h1>Listing locations</h1>

<table>
  <tr>
    <th>X coord</th>
    <th>Y coord</th>
    <th>Description</th>
    <th>User</th>
    <th>Is active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.x_coord %></td>
    <td><%= location.y_coord %></td>
    <td><%= location.description %></td>
    <td><%= location.user_id %></td>
    <td><%= location.is_active %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %> -->
